Repository rerun-io/rerun_template, pull requests merged in 2024-04, with the labels that each got.

#2 Add script to update or init a repository
  .github/workflows/cpp.yml
  .github/workflows/labels.yml
  .github/workflows/links.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  .github/workflows/typos.yml
  .gitignore
  Cranky.toml
  LICENSE-MIT
  README.md
  clippy.toml
  deny.toml
  lychee.toml
  pyproject.toml
  scripts/clippy_wasm/clippy.toml
  scripts/generate_changelog.py
  scripts/template_update.py
Labels: include in changelog

#3 Misc improvements
  .github/workflows/cpp.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  deny.toml
  pixi.toml
  pyproject.toml
  scripts/generate_changelog.py
  scripts/template_update.py
Labels: exclude from changelog

#4 Better getting-started instructions
  .gitignore
  .vscode/launch.json
  CMakeLists.txt
  Cargo.lock
  Cargo.toml
  README.md
  deny.toml
  lychee.toml
  main.py
  pixi.toml
  pyproject.toml
  requirements.txt
  scripts/generate_changelog.py
  scripts/template_update.py
  src/main.rs
Labels: exclude from changelog

#5 Smaller improvements
  .github/workflows/cpp.yml
  .github/workflows/python.yml
  .github/workflows/rust.yml
  Cargo.toml
  bacon.toml
  deny.toml
  scripts/template_update.py
Labels: exclude from changelog

#6 Add `lint-typos` task to pixi
  pixi.lock
  pixi.toml
Labels: enhancement, include in changelog

#7 Replace `cargo-cranky` with workspace lints
  .github/workflows/rust.yml
  .vscode/settings.json
  Cargo.toml
  Cranky.toml
  README.md
  bacon.toml
  scripts/template_update.py
  src/lib.rs
  src/main.rs
Labels: include in changelog
